h1{
color: grey;
position: relative;
left: 60px;
}
.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}

#amt{
position: relative;
left: 55px;
width: 140px;
}
#year{
width: 55px;
position: relative;
left: 30px;
}

