h1{
color: grey;
position: relative;
left: 60px;
}
.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    float: center;
}

#amt{
position: relative;
left: 55px;
width: 40%;
}
#year{
width: 12%;
position: relative;
left: 30px;
}

