h1{
float: center;
color: grey;
position: relative;
left: 60px;
}
.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
}

#amt{
position: relative;
left: 53px;
width: 18%;
}
#year{
width: 10%;
position: relative;
left: 30px;
}

